html, body, div, p, span, h1, h2, h3, h4, img, section, aside, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
	font-family:'Orbitron', sans-serif;
}
.space {
	height:30px;
}
html {
	background-color: #FF6600;
}
.main {
	margin:0 auto;
	width: 900px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 15px 5px rgba(000, 000, 000, .75);
}
.logo{
    background-color: black;
}
.logo h1 {
    font-weight: bold;
    font-style: oblique;
    font-size: 40px;
    color:white;
    float:right;
    text-align: center;
    padding: 60px 175px;

}
.main-nav {
    margin:0 auto;
    text-align:center;
}
.main-nav ul ul {
    display: none;
    background: #5f6975;
    /*rounds the edges of the the list items*/
    border-radius: 0px;
    padding:0;
    /*setting the position absolute just brings the list down. relative it will fix it up as it wants*/
    position:absolute;
    z-index: 1;
}
.main-nav ul li:hover > ul{
        display: block;
    }
.main-nav ul {
    background: #A0A0A0;
    /*padding :top/bottom left/right;*/
    padding:0 20;
    list-style: none;
    /*takes 3 values 1st-shadow to the left 2nd-shadow to the bottom 3rd-opacity then needs a color(rgba)*/
    box-shadow: 0px 0px 9px rgba(0,0,0,15);
    position: relative;
    display:inline-table;
}
    /*after basically is a reset to the unordered list in the nav*/
.main-nav:after {
            content:"";
            clear:both;
            display:block;
    }
.main-nav ul li a {
        display: block;
        padding:5px 70px;
        color:white;
        /*got rid of the underline under the items*/
        text-decoration: none;
        z-index: 1;
        overflow:auto;
    }
.main-nav ul li {
    float:left;
}
/*this hover will target the background of the ul and the list items when hovered over */
.main-nav ul li:hover{
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}
.main-nav ul li:hover a {
    color: #fff;
}
/*targets the nested list and resets the float to 0;*/
.main-nav ul ul li {
    float:none;
    border-top: 1px solid #6b727c;
    border-bottom:1px solid #575f6a;
    position:relative;  
    z-index: 1;
}
/*this targets the (children) of the links */
.main-nav ul ul li a {
    padding: 15px 40px;   
}       
.main-wrapper {
    height: 300px;
    margin: 40px auto 0 auto;
    text-align: center;
    width: 880px;
}
.main-wrapper .box {
    border: 5px solid #fff;
    cursor: pointer;
    height: 182px;
    width: 200px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;       
}

.main-wrapper .box img {
    position: absolute;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

.main-wrapper .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 1;
    transition: all 300ms ease-out;
    left: 0;
}

.main-wrapper .box .fade-caption {
    opacity: 0;
    width: 170px;
    height: 170px;
    text-align: left;
    padding: 15px;
}

.main-wrapper .box:hover .fade-caption {
    opacity: 1;
}
.hero {
    margin: 0 auto;
    width: 800px;
    background-color: black;
}
.hero .container{
    /*using http://colorzilla.com/gradient-editor/*/
    width: 800px;
    height:300px;
    background: #41b556; /* Old browsers */
    background: #ebf1f6; /* Old browsers */
    position:center;
}

.news {
    padding:20px;
}
.news p {
    font-family: sans-serif;
}
h4 {
    color:#FF6600;
}
.social-media {
    text-align: center;
    padding:25px;
}
footer{
	background-color: black;
	color:white;
    padding:40px 40px;
    margin:0 auto;
    width: 825px;
    box-shadow: 0px 5px 15px 5px rgba(000, 000, 000, .75);
}

footer a {
    margin:0 auto;
    float:right;
    text-decoration: none;
    color:white;
}
.left-side {
    float:left;
    position:relative;
}
.right-side{
    float:right;
    position:relative;
}
